<div class="dashboard-container">
  <div class="sidebar">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">My Profile</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </div>
  <div class="content">
    @if(mentor){
    <div class="header card">
      <h1>Hello {{mentor.mentorFirstName}} {{mentor.mentorLastName}}</h1>
    </div>
    <div class="statistics">
      <div class="stat-box card">
        <h2>Total Mentees</h2>
        <h3>{{totalMentees}}</h3>
      </div>
      <div class="stat-box card">
        <h2>Total Batches</h2>
        <h3>{{batch.length}}</h3>
      </div>
      <div class="stat-box card">
        <h2>Active Batches</h2>
        <h3>{{activeBatch}}</h3>
      </div>
    </div>
    <div class="batches card">
      <h2>All Batches</h2>
      <table>
        <thead>
          <tr>
            <th>Batch Id</th>
            <th>Description</th>
            <th>Batch Size</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(bat of batch;track $index){
          <tr>
            <td>{{bat.batchId}}</td>
            <td>{{bat.description}}</td>
            <td>{{bat.menteeIds.length}}</td>
            <td>{{bat.startDate}}</td>
            <td>
              @if(bat.endDate){
              {{bat.endDate}}
              }@else {
              -
              }
            </td>
            @if(bat.status == "Active"){
            <td><span class="status active">{{bat.status}}</span></td>
            }@else {
            <td><span class="status inactive">Inactive</span></td>
            }
            <td><button (click)="OnClick(bat.batchId)">View Details</button></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
</div>
