.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other content */
  // background-color: #fff; /* Optional: set background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
}
.body {
  margin-top: 70px;
}
