<div class="global">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h1>Create Account</h1>
        <span>use your Employee Id and company Email</span>
        <input type="text" formControlName="employeeId" placeholder="Employee Id" />
        <input type="email" formControlName="email" placeholder="Email" />
        <input type="password" formControlName="password" placeholder="Password" />
        <button type="submit" [disabled]="!signUpForm">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form (ngSubmit)="login()">
        <h1>Sign in</h1>
        <input type="text" [(ngModel)]="credentials.employeeId" placeholder="Employee Id" name="employeeId" />
        <input type="password" [(ngModel)]="credentials.password" placeholder="Password" name="password" />
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="removeRightPanelClass()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" (click)="addRightPanelClass()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
